@use "../../../scss/variable" as *;

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dialog {
  text-align: left;
  width: 100%;

  >:first-child {
    @include serif(24px, 400);
    margin-bottom: 12px;
  }

  >:last-child {
    color: $gray;
    font-size: 13.5px;
    line-height: 1.7;
  }
}
