.main_container {
    display: flex;
    justify-content: center;
    max-width: 1080px;
    width: 75vw;
    padding: 20px 0;
}

.account_form {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
        width: 100%;
        text-align: left;
    }

    section {
        width: 45%;

        >div {
            margin-bottom: 32px;
            position: relative;
        }
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: bold;
    }


    input,
    select {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        color: #333;
        transition: all 0.3s ease-in-out;

        &:focus {
            border-color: #000;
        }
    }

    span {
        position: absolute;
        color: gray;
        font-size: 12px;
        margin-left: 8px;
        left: 0;
        bottom: -18px;
    }
}

.action_container {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    width: 100%;
    margin-right: 32px;

    >:first-child button {
        background: red;
        color: white;
    }

    >:last-child {
        background: none;
        color: black;
        border: 2px solid black;
    }

    button {
        width: 240px;
        height: 40px;
        border: none;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        font-weight: bolder;

        &:hover {
            opacity: 0.8;
        }
    }
}