.checkout_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.checkout_title {
    margin-bottom: 16px;
    background: #f5f5f5;
    padding: 8px 16px;
    width: 100%;
    height: max-content;

    h2 {
        font-weight: 400;
        text-align: left;
    }
}

.checkout_account {
    margin-bottom: 16px;
    border: #cfcfcf 1px solid;
    padding: 16px;
    width: 48%;
    height: max-content;

    >:first-child {
        width: 100%;
    }

    >:last-child {
        width: 100%;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
    }
}

.delivery_title {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    align-items: center;

    svg {
        margin-right: 8px;
    }

    h3 {
        font-weight: 400;
        text-align: left;
    }
}

.delivery_description {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        font-weight: 400;
        text-align: left;
        color: rgb(182, 181, 181);
    }

    label {
        font-weight: 700;
        text-align: left;

    }

}

.checkout_content {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
    gap: 16px;
    border: #cfcfcf 1px solid;
    height: max-content;
}

.product_container {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 0px 16px;

    .product {
        padding: 16px;
        width: 100%;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;

        .product_description {
            display: flex;

            img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                margin-right: 16px;
            }


            >:last-child {
                display: flex;
                flex-direction: column;
                width: max-content;
                gap: 8px;
            }
        }
    }
}

.product_total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    >:first-child {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 16px;
    }

    .checkout_action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        width: 100%;
        height: max-content;
        border-top: #cfcfcf 1px solid;

        button {
            height: 48px;
            font-weight: 400;
            text-align: left;
        }
    }
}