.order_container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.order_title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 16px;

    >:first-child {
        width: 50%;
        height: max-content;
    }

    .headline {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .title {
            display: flex;

            >:first-child {
                font-size: 20px;
                font-weight: 700;
                margin-right: 16px;
            }
        }
    }

    >:last-child {
        width: 50%;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.order_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 1080px;

    >div {
        border: 1px solid #ccc;
        padding: 32px;
    }
}

.details {
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    >:first-child {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        font-size: 18px;
    }

    .details_content {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >:first-child {
            width: 30%;
            font-size: 16px;
            font-weight: 500;
        }

        >:last-child {
            width: 70%;
            font-size: 16px;
            font-weight: 500;
            color: gray;
        }
    }
}


.products {
    width: 60%;
    padding: 16px;

    >:first-child {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        font-size: 18px;
    }

    .product {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        font-size: 18px;
        display: flex;
        flex-direction: row;

        .product_details {
            margin-left: 16px;
            border-radius: 8px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .product_name {
                height: auto;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                >:first-child {
                    font-size: 18px;
                    font-weight: 500;
                }

                >:last-child {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }

    .subtotal {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >* {
            font-size: 16px;
            font-weight: 500;
        }

        >:first-child {
            font-size: 14px;
            color: gray;
        }

    }

    .product_total {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: #666 1px solid;
        padding-top: 16px;

        >* {
            font-size: 20px;
            font-weight: 500;
        }

        >:last-child {
            font-size: 24px;
            font-weight: 600;
            color: red;
        }
    }
}

.edit_order {
    display: flex;
    flex-direction: column;

    label {
        font-size: 20px;
        font-weight: 500;
    }

    select {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 8px;

        &:focus {
            outline: none;
        }

        option {
            background: #f8f9fa; // change the background color
            color: #333; // change the text color
        }
    }

    input {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 8px;
        margin-bottom: 8px;

        &:focus {
            outline: none;
        }
    }

    .edit_confirm {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
            padding: 8px 16px;
            border-radius: 8px;
            background-color: #6189ce;
            color: #fff;
            font-size: 16px;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}

.error {
    background: red;
}