.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  >:first-child {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.6px;
    text-align: left;
  }

}

.product_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 100%;
  padding: 16px;
}

.product_card {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: transparent;
  color: transparent;
  border: #e2dfda 2px solid;
  height: fit-content;

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .description {
    border: #e2dfda 0.5px solid;

    h4 {
      color: black;
      font-size: 15px;
      text-align: left;
      font-family: "Poppins", sans-serif;
      padding: 8px;
    }

    p {
      color: black;
      font-size: 13px;
      text-align: left;
      margin-left: 8px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: normal;
    }

    >:last-child {
      margin-bottom: 8px;
    }
  }

  img {
    width: 100%;
    height: 200px;
    justify-content: center;
  }



}

.actions_container {
  display: flex;
  flex-direction: column;
}

.cart,
.remove {
  width: 100%;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

.cart {
  background-color: white;
  border: #ccc1c1 1px solid;
  color: black;
}

.remove {
  background-color: red;
  color: white;
}


.no_item {
  font-size: 20px;
  color: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 75vh;

  p {
    font-size: 24px;
  }

  img {
    width: 160px;
    height: 160px;
  }

  button {
    margin-top: 16px;
    padding: 8px 32px;
    color: violet;
    border-radius: 8px;
    border: 1px solid violet;
    font-weight: 700;


    &:hover {
      background-color: violet;
      color: white;
    }
  }
}