.container {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: #eeee;
    border-bottom: 1px solid #a5a3a3;

    >button {
        width: 18%;
        padding: 16px;

        &:hover {
            background: #e5e5e5;
            cursor: pointer;
        }
    }

    >button:first-child {
        border-top-left-radius: 16px;
    }

    >button:last-child {
        border-top-right-radius: 16px;
    }

}

.active {
    border-bottom: 2px solid #000;
    background: #e5e5e5;
}