.main_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1080px;
  width: 75vw;
  padding: 20px 0;
  gap: 16px;

  .no_item {
    width: 100%;
    text-align: center;
  }

  .with_item {
    width: 100%;
    text-align: right;
  }
}

.product_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.product_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .description {
    display: flex;
    width: 70%;
    gap: 16px;

    img {
      width: 200px;
      height: 200px;
      border: 1px solid #3333;
    }

    .text {
      margin-top: 32px;
    }
  }

  .action {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: auto;
    gap: 16px;

    button {
      height: 32px;
      padding: 8px 16px;
      color: white;
      background: red;
    }
  }
}

.checkout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
  padding-top: 32px;
  text-align: right;

  button {
    padding: 8px 64px;
    background-color: black;
    color: white;
  }

  p {
    color: red;
    font-size: 24px;
    font-weight: 700;
  }
}