.container {

    // * {
    //     background-color: red;
    //     height: 600px;
    //     width: 600px;

    // }
    img {
        height: 400px;
        width: 100vw;
        border: black solid 1px;
    }
}

.images {
    border: 3px solid black;
    width: 400px;
    width: 400px;
    background: red;
}