.first_flex {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 620px;
  width: 100%;
  margin-block: 45px;

  .container_first_image {
    height: 100%;
    width: 50%;

    img {
      height: 100%;
      width: 100%;
      margin: 0;
      z-index: -1;
    }
  }

  .first_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: 20%;

    h1 {
      font-size: 70px;
      color: white;
      text-transform: uppercase;
    }

    button {
      font-size: 24px;
      background: white;
      color: black;
      padding: 15px 39px;
      border-radius: 16px;
      border: 0;

      &:hover {
        color: white;
        background-color: red;
      }
    }
  }
}

/* 2nd section*/
.second_flex {
  height: 100%;
  width: 100%;
  margin-block: 130px;

  .container_second_description {
    display: flex;
    flex-direction: column;

    h1 {
      font-family: "PT Sans Caption", sans-serif;
      font-size: 20px;
      font-weight: 450;
      display: flex;
      text-transform: uppercase;
      justify-content: center;
    }

    a {
      color: black;
      &:hover {
        color: red;
      }
    }
  }

  .container_second_image {
    height: 30%;
    border-bottom: 1px solid white;
    display: flex;
    overflow-x: auto;
    grid-auto-flow: column;
    justify-content: center;

    img {
      width: 450px;
      height: 500px;
      margin: 26px;

      &:hover {
        transform: scale(1.1);
        border: 1px solid rgb(198, 197, 197);
      }
    }
  }
}

.third_flex {
  display: flex;
  width: 100%;
  height: 700px;

  .container_third_image {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;

    img {
      width: 70%;
      height: 680px;
    }
  }

  .container_third_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & > * {
      margin-bottom: 32px;
    }

    h1 {
      font-family: sans-serif;
      text-transform: uppercase;
      font-size: 56px;
      font-weight: 300;
    }

    p {
      font-weight: 400;
    }

    a {
      font-weight: 500;
      color: black;
      text-decoration: none;

      &:hover {
        color: red;
      }
    }
  }
}
/* 4th section*/
.fourth_flex {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  flex-direction: column;
  margin-block: 45px;
  justify-content: flex-end;

  .container_fourth_image {
    display: flex;
    justify-content: center;

    img {
      width: 30%;
      height: 30%;
    }
  }

  .container_fourth_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    position: absolute;
    justify-content: center;

    text-align: center;

    h1 {
      font-size: 30px;
      color: white;
      font-family: "PT Sans Caption", sans-serif;
      padding: 10px;
      text-transform: uppercase;
    }

    button {
      padding: 15px 39px;
      background: white;
      color: black;
      font-size: 20px;
      font-weight: 200;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        color: white;
        background-color: red;
      }
    }
  }
}

/* 5th section*/
.fifth_flex {
  min-width: 100vw;
  min-height: 100vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.fifth_flex_row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: row-wrap;
}
.sec5_column1 {
  display: flex;
  flex-direction: column;
}

.title1 {
  width: 380px;
  img {
    width: 350px;
    height: 450px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 40px;
  }

  h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 100;
  }
}

/*ARTICLE 5*/
.title5 {
  width: 380px;
  margin-top: 3rem;
  img {
    width: 350px;
    height: 450px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 40px;
  }

  h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 100;
  }
}

.sec5_column2 {
  display: flex;
  flex-direction: column;
  margin: 30px;
  text-align: center;
}

/*ARTICLE 2*/
.title2 {
  width: 400px;

  img {
    width: 400px;
    height: 250px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 45px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 100;
  }
}

/*ARTICLE 4*/
.title4 {
  width: 400px;
  margin-top: 3rem;
  img {
    width: 400px;
    height: 250px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 45px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 100;
  }
}

/*ARTICLE 6*/
.title6 {
  width: 400px;
  margin-top: 3rem;
  img {
    width: 400px;
    height: 450px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 43px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 100;
  }
}

.sec5_column3 {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

/*ARTICLE 3*/
.title3 {
  width: 400px;
  img {
    width: 400px;
    height: 450px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 45px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 100;
  }
}

/*ARTICLE 7*/
.title7 {
  width: 400px;
  margin-top: 3rem;
  img {
    width: 400px;
    height: 450px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 45px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 100;
  }
}
