@import "../../../scss/_variable";

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $black_color solid 1px;
    padding-block: 16PX;

    * {
        color: $black_color;
    }

    >:first-child {
        margin-left: 24px;
        width: 170px;
        text-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
        font-family: Playfair Display;
        font-size: 42px;
        font-weight: 400;
        line-height: normal;
    }

    >:last-child {
        display: flex;
        align-items: center;
        margin-right: 8px;

        >:first-child {
            padding-right: 8px;
            border-right: 4px solid black;
            padding-block: 8px;
            max-width: 150px;
            text-align: right;
        }

        img {
            margin-left: 8px;
            width: 42px;
            height: 42px;
        }
    }

    .navigation_bar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: auto;

        >* {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 2px;
            margin-inline: 8px;
            padding: 8px 20px;
            gap: 16px;
            transition: all 0.3s;

            >:first-child {
                width: 32px;
                fill: black;
            }

        }

        .active {
            background: black;
            border-radius: 24px;

            >:first-child * {
                fill: $main_color;
            }

            >:last-child {
                color: $main_color;
            }
        }
    }
}

.user_photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline: 8px;
}

.dropdown_container {
    border-radius: 16px;
    padding: 16px;
    z-index: 1;
    background: $secondary_color;
    box-shadow: 0px 0px 25px black;

    .dropdown_item {
        @include flex_container(row, flex-start, center);
        width: max-content;
        border-radius: 8px;
        padding: 16px;
        cursor: pointer;

        >:first-child {
            width: 35px;
            fill: red;
        }

        >:last-child {
            font-size: 24px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-inline: 32px;
            width: 64px;
        }
    }

    .dropdown_item:hover {
        background: gray;

    }
}