.admin_layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 32px;
    height: 95vh;
    background: rgb(251, 243, 243);

}