.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 560px;
    background: white;
    border: 1px solid white;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: whitesmoke;
        width: 100%;

        h1 {
            font-size: 68px;
            font-weight: 400;
            text-align: center;
            padding-block: 16px;
            text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
            font-weight: 400;
            line-height: normal;
        }

        p {
            margin-bottom: 32px;
            font-size: 18px;
        }
    }


    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        padding: 32px;

        * {
            border: 0;
        }

        label {
            font-size: 18px;
            margin-bottom: 8px;
            text-align: left;
            width: 100%;
        }

        input,
        button {
            margin-bottom: 20px;
            font-size: 16px;
            padding: 8px;
            width: 100%;
            padding-block: 16px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        input {
            border: 1px solid white;
            background-color: whitesmoke;
        }

        input::placeholder {
            color: rgb(208, 199, 199);
        }

        span {
            padding: 5px;
            font-weight: 700;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
            }
        }

        button {
            margin-top: 20px;
            color: white;
            background: red;
        }

    }
}